* {
  margin: 0px;
  padding: 0px;
}

.container {
  width: fit-content;
}

table {
  border: 1px solid rgb(215, 215, 215);
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 5px;
}

tr:nth-child(even) {
  background-color: rgb(228, 228, 228);
}
